//Global
script.
    var basePath = '',
        commonPath = '../assets/',
        rootPath = '../',
        DEV = false,
        componentsPath = '../assets/components/';

    var primaryColor = '#eb6a5a',
        dangerColor = '#b55151',
        successColor = '#609450',
        infoColor = '#4a8bc2',
        warningColor = '#ab7a4b',
        inverseColor = '#45484d';

    var themerPrimaryColor = primaryColor;
script(src="/default/assets/components/library/bootstrap/js/bootstrap.min.js")
script(src="/default/assets/components/plugins/nicescroll/jquery.nicescroll.min.js")
script(src="/default/assets/components/plugins/breakpoints/breakpoints.js")
script(src="/default/assets/components/core/js/animations.init.js")

block foot_script