script(src="/default/assets/components/library/jquery/jquery.min.js")
script(src="/default/assets/components/library/jquery/jquery-migrate.min.js")
//script(src="/default/assets/components/library/jquery-ui/js/jquery-ui.min.js")
script(src="/default/assets/components/library/modernizr/modernizr.js")
script(src="/default/assets/components/plugins/less-js/less.min.js")
script(src="/default/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js")
script(src="/default/assets/components/plugins/browser/ie/ie.prototype.polyfill.js")
//script(src="/default/assets/components/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js")
script(src="/js/flot/jquery.flot.js")
script(src="/js/flot/jquery.flot.categories.js")


script(type="text/javascript")
    | if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }