.navbar.hidden-print.navbar-primary.box.main(role="navigation")
    .user-action.user-action-btn-navbar.pull-left.border-right
        button.btn.btn-sm.btn-navbar.btn-primary.btn-stroke
            i.fa.fa-bars.fa-2x
    ul.notifications.pull-left.hidden-xs
        li.dropdown.notif
            a.dropdown-toggle(href="",data-toggle="dropdown")
                i.notif-block.fa.fa-comments-o
                span.badge.badge-primary 3
            ul.dropdown-menu.chat.media-list
                li.media
                    a.pull-left(href="#")
                        img.media-object.thumb(src="/default/assets/images/people/100/15.jpg",alt="50x50",width="50")
                    .media-body
                        span.label.label-default.pull-right 5 min
                        h5.media-heating Shriaz
                        p.margin-none Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                li.media
                    a.pull-left(href="#")
                        img.media-object.thumb(src="/default/assets/images/people/100/15.jpg",alt="50x50",width="50")
                    .media-body
                        span.label.label-default.pull-right 5 min
                        h5.media-heating Shriaz
                        p.margin-none Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                li.media
                    a.pull-left(href="#")
                        img.media-object.thumb(src="/default/assets/images/people/100/15.jpg",alt="50x50",width="50")
                    .media-body
                        span.label.label-default.pull-right 5 min
                        h5.media-heating Shriaz
                        p.margin-none Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                li
                    a.btn.btn-primary(href="#")
                        i.fa.fa-list
                        span View all messages
        li.dropdown.notif
            a.dropdown-toggle(href="",data-toggle="dropdown")
                i.notif-block.fa.fa-bell-o
                span.badge.badge-primary 2
            ul.dropdown-menu.alerts
                li.heading
                    i.fa.fa-bell-o
                    span Alerts Heading
                li
                    i.fa.fa-folder
                    a(href="#")
                        | Ticket #232232
                    small by Lavinia
                    .action.pull-right
                        a.success(href="")
                            i.fa.fa-check
                        a.delete(href="")
                            i.fa.fa-times
                li
                    i.fa.fa-folder
                    a(href="#")
                        | Ticket #232232
                    small by Lavinia
                    .action.pull-right
                        a.success(href="")
                            i.fa.fa-check
                        a.delete(href="")
                            i.fa.fa-times
                li.center.loadmore
                    a(href="#")
                        i.fa.fa-spinner.fa-spin
                        | Load more
        li.dropdown.notif
            a.dropdown-toggle(href="",data-toggle="dropdown")
                i.notif-block.fa.fa-star-o
                span.label.label-info 50%
            ul.dropdown-menu.chart
                li
                    a.btn-info(href="")
                        .easy-pie.primary.easyPieChart.pull-left(data-builder-exclude="element children",data-percent="35")
                            span.value 50
                            | %
                        span.txt Overall Progress
                        span.clearfix
                li.innerAll
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi vitae sed vel quos quae earum dolores illo incidunt reprehenderit nihil.
                    a.more.pull-right(href="#") Read more &nbsp
                        i.fa.fa-arrow-circle-o-right
                    .clearfix
    .col-md-3.visible-md.visible-lg
        .input-group
            input.form-control.input-sm(type="text",placeholder="Search for your friends...")
            span.input-group-btn
                button.btn.btn-primary(type="button")
                    i.fa.fa-search
    .user-action.visible-xs.user-action-btn-navbar.pull-right
        button.btn.btn-sm.btn-navbar-right.btn-primary.btn-stroke
            i.fa.fa-fw.fa-arrow-right
            span.menu-left-hidden-xs Modules
    .user-action.pull-right.menu-right-hidden-xs.menu-left-hidden-xs
        .dropdown.username.hidden-xs.pull-left
            a#m_username.dropdown-toggle(data-toggle="dropdown",href="#") EdgarSun
                span.caret
            ul.dropdown-menu.pull-right
                li.active
                    a.glyphicons.user
                        i
                        |Profile
                li
                    a.glyphicons.list
                        i
                        |Timeline
                li
                    a.glyphicons.envelope
                        i
                        |Messages
                li
                    a Settings
                li
                    a Logout
        .dropdown.dropdown-icons.padding-none
            a.btn.btn-primary.btn-circle.dropdown-toggle(href="#",data-toggle="dropdown")
                i.fa.fa-user
            ul.dropdown-menu
                li(data-toggle="tooltip",data-title="Photo Gallery",data-placement="left",data-container="body")
                    a(href="#")
                        i.fa.fa-camera